/* .slick-list {
    border-radius: 10% !important;
    margin-bottom: 20px !important;
  } */
  
  .column {
    height: fit-content;
  }
  
  .img-background {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .img-avatar {
    height: 300px;
  }
  
  .container-block {
    margin-top: 20px;
  }
  
  .info-title {
    color: #f7b835 !important;
    text-transform: uppercase;
  }
  
  
  /* ------ container-slider ------ */
  @media screen and (max-width: 992px) {
    .container-slider .img-avatar {
      display: none !important;
    }
  
    .container-slider .slick-dots {
      display: none !important;
    }
  }
  
  /* ------ container-slider ------ */
  
  /* ------ container-company-information ------ */
  .container-company-info .column {
    padding: 0px !important;
  }
  
  .container-company-info .img-avatar {
    max-width: 350px;
    height: 460px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  
  .container-company-info .block-info-right {
    padding: 40px 0px;
  }
  
  /* ------ container-company-information ------ */
  
  /* ------ container-our-story ------ */
  .first-block .sub-block {
    padding: 20px;
    background-color: #3ab54a;
  }
  
  .first-block .sub-block .block-info-left {
    color: white;
  }
  
  .first-block .sub-block .block-info-left,
  .first-block .sub-block .block-info-right {
    padding: 0px 20px;
  }
  
  .second-block {
    padding: 20px;
  }
  
  .second-block .img-avatar {
    position: absolute;
    max-width: 50%;
    right: 20px;
    padding-top: 10px;
    top: -60px;
  }
  
  .second-block .block-info-left {
    color: #e9b853;
  }
  
  .second-block .block-info-right {
    padding: 0px 20px;
  }
  
  @media screen and (max-width: 992px) {
    .first-block .sub-block .img-avatar {
      width: 400px !important;
      right: 0px !important;
      top: 0px !important;
      padding-top: 0px !important;
      border: none !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    .second-block .block-info-right .img-avatar {
      display: none !important;
    }
  }
  
  /* ------ container-our-story ------ */
  
  /* ------ container-business-sectors ------ */
  .container-business-sectors {
    padding: 20px;
  }
  
  .other-business-block {
    background-color: #3ab54a;
    color: white !important;
    width: 240px;
    transition: transform 0.3s;
    border-radius: 10px;
    height: 250px;
  }
  
  .other-business-block .img-avatar {
    padding: 40px;
    display: flex;
    margin: auto;
  }
  
  .other-business-block:hover {
    background-color: #e9b853 !important;
    color: white !important;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  /* ------ container-business-sectors ------ */
  
  /* ------ container-core-values ------ */
  .container-core-values {
    padding: 20px;
    background-color: #3ab54a;
    color: white !important;
    transition: transform 0.3s;
  }
  
  .core-values-main-block {
    color: white !important;
    transition: transform 0.3s;
    border-radius: 10px;
  }
  
  .core-values-main-block .img-avatar {
    padding: 40px;
    display: flex;
    margin: auto;
    width: 200px !important;
    height: 200px !important;
  }
  
  .core-values-block {
    color: white !important;
    width: 280px;
    transition: transform 0.3s;
    border-radius: 10px;
    height: 250px;
  }
  
  .core-values-block .img-avatar {
    padding: 40px;
    display: flex;
    margin: auto;
  }
  
  @media screen and (max-width: 2560px) {
    .container-core-values .core-values-list {
      padding: 0px 190px !important;
    }
  }
  
  @media screen and (max-width: 1440px) {
    .container-core-values .core-values-list {
      padding: 0px 45px !important;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .container-core-values .core-values-list {
      padding: unset !important;
    }
  }
  
  /* ------ container-core-values ------ */
  
  /* ------ container-vison ------ */
  .container-vision {
    padding: 20px;
  }
  
  .container-vision .block-vision {
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 20px 35px;
    border: 1px solid #fbfbfb;
    box-shadow: rgb(0 0 0 / 10%) 25px 35px 24px -11px, rgb(0 0 0 / 10%) 20px 25px 20px -10px;
    margin: 20px 0px;
    min-height: 240px;
  }
  
  @media screen and (max-width: 1440px) {
    .container-vision .block-vision {
      min-height: 260px !important;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .container-vision .block-vision {
      min-height: 305px !important;
    }
  }
  
  /* ------ container-vison ------ */
  
  /* ------ container-our-network ------ */
  .container-our-network {
    padding: 20px;
  }
  
  /* ------ container-our-network ------ */
  
  /*----------------------------------------*/
  
  .carousel-slide {
    font-size: 40px;
    display: flex !important;
    justify-content: center;
    border-radius: 5px;
    margin: 0px auto;
    font-family: sans-serif;
    position: relative;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  .carousel-image {
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
    margin: auto;
  }
  
  .slick-center .carousel-image {
    width: 530px;
    height: 300px;
    filter: none;
    opacity: 1;
    z-index: 2;
  }
  
  .slick-slide:not(.slick-center) .carousel-image {
    transform: scale(0.9);
    filter: blur(5px);
    opacity: 0.6;
    z-index: 1;
    width: 500px;
    height: 300px;
  }
  
  /* Positioning the container to relative for proper button placement */
  .carousel-container {
    max-width: 800px;
    /* Adjust width as needed */
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
  }
  
  /* Default styles for Slick arrows */
  /* .slick-prev::before,
  .slick-next::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
  } */
  
  /* .slick-prev::before:hover,
  .slick-next::before:hover {
    background-color: rgba(0, 0, 0, 0.8);
  } */
  
  /* Position the left arrow (prev) */
  /* .slick-prev::before {
    right: calc(screen - 1000px);
  } */
  
  /* Position the right arrow (next) */
  /* .slick-next::before {
    left: calc(screen - 1000px);
  } */
  
  /* Adjust arrow positions for smaller screens */
  /* @media screen and (max-width: 768px) {
    .slick-prev::before {
      display: none !important;
    }
  
    .slick-next::before {
      display: none !important;
    }
  } */