* {
    padding: 0;
    margin: 0;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.font-italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.d-flex {
    display: flex;
}